<header class="user_header">
  <a><img alt="サイトロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
  <div class="user_path">
    <%= link_to "ログイン", new_user_session_path, class: "btn new_registration" %></li>
    <%= link_to "登録", new_user_registration_path, class: "btn new_session" %></li>
  </div>
</header>
