<div class='account_show'>
  <div class='account_page'>
      <h3>プロフィール</h3>
      <table class='account_table'>
        <tr>
          <th>メールアドレス</th>
   
        </tr>
        <tr>
          <td><%= link_to "プロフィール", user_password_path %></td>
        </tr>
      </table>
  </div>
</div>
